/* ==========================================================================
   Tables
   ========================================================================== */

.center {
    width: 50%;
    margin: auto;
}

.glossaryTable {
    @extend .center;
    border-collapse: collapse;
    td,
    th {
        padding: 15px;
        border-left: 3px solid #000;
    }
    td:first-child,
    th:first-child {
        border-left: none;
    }
}